<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheet.css">
  </head>
<body>
<div class="content">
{{#error}}
<div class"error">ERROR</div>
{{/error}}
<img src="../mario.jpg" alt="Super Mario high" class="logo">
<h1>Please confirm that you want to keep seeing bad quality of code at
<span style="color: red">SPICED ACADEMY</span>
</h1>
<a href="/thankyou/delete"><h2>YES</h2></a>
<a href="/thankyou"><h2>NO</h2></a>
</div>
<footer>{{> copyright}}</footer>
</body>
</html>
